body {
  padding-top: 60px;
  margin: 0;
}

.thumbnail-leaders h2{
  font-size: 32px;
  color: #700f16;
  margin: 1em;
}
.thumbnail-leader {
  margin: 0.5em 0;
  color: #0F2D4D;
  text-align: center;
}
.nolink:link { text-decoration: none }
.nolink:hover { text-decoration: none }
.nolink:active { text-decoration: none }
.nolink:visited { text-decoration: none }

.state-header {
  color: #0F2D4D;
  text-align: center;
}

.date {
  font-size: 2em;
  font-weight: bold;
  color: #999;
  text-align: center;
  margin-bottom: 1em;
}

.head-shot {
  margin: 0.5em;
}

.member-name small {
  color: #700f16;
  padding-left: 0.5em;
}
footer {
  margin: 15em 0 0 0;
  padding-top: 1em;
  text-align: center;
  border-top: 10px solid #700f16;
  background-color: #fff;
  background-image: url(/images/footer-gradient.png);
  background-repeat: repeat-x;
  text-align: center;
}
footer .well {
  margin-top: 1em;
  background-color: #fff;
}
.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
